@tailwind base;
@tailwind components;
@tailwind utilities;

.bgImageGallery {
  background-image: url("../assets/images/bgtwo.jpg");
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center;
}

.bgImageHome {
  background-image: url("../assets/images/bgone.jpg");
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: center;
}
